---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import SocialIcon from "../components/SocialIcon.astro";
import { SITE_AUTHOR, SITE_DESCRIPTION, SITE_SIGNATURE, SITE_TITLE, SOCIAL_LINKS } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="flex flex-col min-h-screen">
        <Header />
        <main class="flex flex-col grow justify-center items-center">
            <h1 class="site-title text-skin-accent">{SITE_AUTHOR}</h1>
            <p class="text-skin-base">{SITE_SIGNATURE}</p>
            <div class="social-links flex justify-content text-skin-accent-dark p-3 gap-2">
                {
                    SOCIAL_LINKS.map((link) => (
                        <a
                            href={link.url}
                            title={link.label}
                            class="text-skin-base hover:text-skin-accent transition-colors duration-200"
                        >
                            <span class="sr-only">{link.label}</span>{" "}
                            <SocialIcon platform={link.name} />
                        </a>
                    ))
                }
            </div>
            <slot />
        </main>
        <Footer />
    </body>
</html>
