---
import type { Project } from "@objects/types";

interface Props {
    project: Project;
}

const { project } = Astro.props;
const { title, description, techStack, githubUrl, demoUrl } = project;

const hasTech = (arr: string[] | undefined) => arr && arr.length > 0;

const categories = [
    { label: "Backend", data: techStack.backend },
    { label: "Frontend", data: techStack.frontend },
    { label: "Misc", data: techStack.misc },
    { label: "DevOps", data: techStack.devOps },
];
---

<div
    class="flex flex-col w-sm p-6 rounded-lg border border-skin-line bg-skin-card hover:border-skin-accent transition-colors"
>
    <h4 class="text-xl font-bold text-skin-accent-dark">{title}</h4>
    <p class="mt-3 mb-3 text-sm opacity-80 grow">{description}</p>
    <div class="flex flex-col mt-1 gap-4 grow">
        {
            categories.map(
                (cat) =>
                    hasTech(cat.data) && (
                        <div class="flex flex-col gap-1.5">
                            <span class="mb-1 text-xs font-bold tracking-wider text-skin-accent-dark opacity-60">
                                {cat.label}
                            </span>
                            <div class="flex flex-wrap gap-2">
                                {cat.data!.map((item) => (
                                    <span class="px-2 py-0.5 text-xs rounded-md bg-skin-accent/10 text-skin-accent border border-skin-accent/20">
                                        {item}
                                    </span>
                                ))}
                            </div>
                        </div>
                    ),
            )
        }
    </div>

    <div class="mt-8 pt-4 border-t border-skin-line flex items-center gap-5 text-sm">
        {
            typeof githubUrl === "string" ? (
                <a
                    href={githubUrl}
                    target="_blank"
                    class="flex items-center gap-1 underline decoration-dotted hover:text-skin-accent transition-colors"
                >
                    <span>Repo</span>
                </a>
            ) : (
                <>
                    <a
                        href={githubUrl.frontend}
                        target="_blank"
                        class="hover:text-skin-accent underline decoration-dotted"
                    >
                        FE Repo
                    </a>
                    <a
                        href={githubUrl.backend}
                        target="_blank"
                        class="hover:text-skin-accent underline decoration-dotted"
                    >
                        BE Repo
                    </a>
                </>
            )
        }

        {
            demoUrl && (
                <a href={demoUrl} target="_blank" class="ml-auto text-skin-accent hover:underline">
                    Demo →
                </a>
            )
        }
    </div>
</div>
